In [41]:
from urllib.request import urlopen, Request
from bs4 import BeautifulSoup as bs
import string
import re

In [17]:
alp = list(string.ascii_uppercase)

In [25]:
l = []
for a in alp:
    header = {'User-Agent':'Chrome'}
    req = Request(f'https://www.plimsoll.co.uk/uk-industries-list-a-to-z/{a}', headers=header)
    html = urlopen(req)
    obj = bs(html)
    table = obj.findAll('div', {'class' : 'c-search__results--item'})
    for x in table:
        l.append(x.find('p').text)

In [43]:
def remove(list):
    pattern = '[0-9]'
    list = [re.sub(pattern, '', i) for i in list]
    return list
    
l1 = remove(l)

In [45]:
import pandas as pd

In [46]:
df = pd.DataFrame(l1)

In [47]:
df

                            0
0                   Abattoirs
1       Abnormal Load Haulage
2           Abrasive Products
3      Access Control Systems
4            Access Equipment
...                       ...
1592           Workwear & PPE
1593      Writing Instruments
1594          X-Ray Equipment
1595  Yacht Building & Design
1596           Yarn Suppliers

[1597 rows x 1 columns]

In [49]:
df.to_csv(r"Industries.csv",index=False,header=False)